<p id="notice"><%= notice %></p>

<%= image_tag @actor.image.url(:medium) %>

<p>
  <strong>Name:</strong>
  <%= @actor.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @actor.description %>
</p>

<%= render partial: 'comments/comments', locals: {commentable: @actor} %>

<% if user_signed_in? %>
	<%= render partial: 'comments/form', locals: {commentable: @actor} %>
<% else %>
	<h3><%= link_to 'Log in', new_user_session_path %> for comment</h3>
<% end %>

<br />

<%= link_to 'Edit', edit_actor_path(@actor) %> |
<%= link_to 'Back', actors_path %>
