<h3>Comments</h3>

<!-- Need improve this logic, because now is wrong -->

<% commentable.comments.each do |comment| %>
	<div class="well">
		<p>
			<b>Commented by:</b>
				<% if user_signed_in? %>
					<% if current_user.email == comment.user %>
						You	
					<% else %>
						<%= current_user.email %>
					<% end %>
					<b> on</b>
					<%= commentable.comments.first.created_at %>
				<% else %>
					<%= comment.user.email %>
					<b> on</b>
					<%= commentable.comments.first.created_at %>
				<% end %>
		</p>
		<%= comment.body %>
	</div>
<% end %>